<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container">
      <div class="row">
        <h1>Where do you want to go?</h1>
        <%= form_tag find_bus_path do %>
          <div class="row">
            <div class="col s4">
              <h4>Where are you? </h4>
                <%= collection_select :bus_stop_origin, 
                  :id, @bus_stops || [], :id, :identifier,
                    { multiple: false } %></br>
            </div>
          </div>
          <div class="row">
            <div class="col s4">
              <h4>Where are you heading? </h4>
                <%= collection_select :bus_stop_destiny, 
                  :id, @bus_stops || [], :id, :identifier,
                    { multiple: false } %></br>
            </div>
          </div>
          <div class="row">
            <div class="col s4">
              <h4>What line are you taking?</h4>
                <%= collection_select :trip, 
                  :id, @trips || [], :id,  :identifier,
                    { multiple: false } %></br>
            </div>
          </div>
          <%= submit_tag("search", class: "waves-effect waves-light btn-large") %>
        <% end %>
      </div>
    </div>
  </body>
</html>