<h1>Where you want to go?</h1>

<%= form_tag find_bus_path do %>
  <%= label_tag :where_are_you %>
  <%= collection_select :bus_stop_origin, 
        :id, @bus_stops || [], :id, :identifier,
          { multiple: false } %></br>
  <%= label_tag :where_are_you_going %>
  <%= collection_select :bus_stop_destiny, 
        :id, @bus_stops || [], :id, :identifier,
          { multiple: false } %></br>
  <%= label_tag :what_line %>
  <%= collection_select :trip, 
        :id, @trips || [], :id,  :identifier,
          { multiple: false } %></br>

  <%= submit_tag "search" %>
<% end %>

<% if can? :manage, :all %>
  <%= link_to 'bus stops', bus_stops_path %>
  <%= link_to 'trips', trips_path %>
  <%= link_to 'buses', buses_path %>
<%end%>

<% if user_signed_in? %>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
<% else %>
  <%= link_to('Register', new_user_registration_path)  %>
  <%= link_to('Login', new_user_session_path)  %>  
<% end %>