<%= form_with model: @trip, local: true do |form| %> 
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@trip.errors.count, "error") %> prohibited
        this trip from being saved:
      </h2>
      <ul>
        <% @trip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :identifier %><br>
    <%= form.text_field :identifier, :value => @trip.identifier %>
  </p>
  <p>
    <%= form.collection_select :bus_stops, @bus_stops || [], 
        :id, :identifier, { include_blank: false },
          { multiple: true } %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>