<div class="container">
  <div class="row">
    <ul class="collection with-header">
      <li class="collection-header">
        <div>
          <h4>Buses</h4>
        <div>
      </li>
      <% @buses.each do |bus| %>
      <li class="collection-item">
        <div>
          <strong>Registration number</strong><%= ": #{bus.registration_number}" %>
          <strong>Trip</strong><%= ": #{bus.trip ? bus.trip.identifier : 'None'}" %>
          <strong>Schedule</strong><%= ": #{bus.schedule ? bus.schedule.schedule_time_range : 'None'}"  %>
          <a href=<%= edit_bus_path(bus) %> class="secondary-content">
            <i class="material-icons">mode_edit</i>
          </a>
          <%= link_to 'delete', 
             bus_path(bus), 
                         method: :delete, 
                         data: { confirm: 'Are you sure?' },
                         class: "secondary-content material-icons" %>
        </div>
      </li>
      <% end %>
    </ul>

    <a href=<%= new_bus_path %> class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
  </div>
</div>



